# Dependencies
/node_modules
/file-sharing-frontend/node_modules
/file-sharing-backend/node_modules

# Build output
/dist
/file-sharing-frontend/dist

# Parcel cache
.parcel-cache
/file-sharing-frontend/.parcel-cache

# Environment variables
.env
/file-sharing-backend/.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# User-generated content
/file-sharing-backend/uploads/